<% content_for :head do %>
  <h3>Penulis</h3>
  <span id="header_desc">daftar penulis</span>
<% end %>

<%= paginate @writers %>

<table>
  
<% @writers.each do |w| %>

  <p>
    <%= w.id %>
    <span class="edit">
      <%= link_to w.name, edit_librarian_writer_path(w) %>
    </span>
    
    <%= w.about %>
    <span class="delete">
      <%= link_to "delete", librarian_writer_path(w), :confirm=>"delete?", :method=>"delete"  %>
    </span>
  </p>
  
<% end %>
</table>

<%= link_to "new writer", new_librarian_writer_path %>

