<% content_for :head do %>
  <h3>Subkategori</h3>
  <span id="header_desc">daftar subkategori</span>
<% end %>

<%= paginate @subcategories %>

<table>
  
<% @subcategories.each do |c| %>

  <p>
    <%= c.id %>
    <span class="edit">
      <%= link_to c.name, edit_librarian_subcategory_path(c) %>
    </span>
    
    <span class="delete">
      <%= link_to "delete", librarian_literature_path(c), :confirm=>"delete?", :method=>"delete"  %>
    </span>
    
  </p>
  
<% end %>
</table>

<%= link_to "new subcategory", new_librarian_subcategory_path %>
